<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger">Erreur.</h1>
        <h2 class="text-warning">Une erreur s'est produite lors du traitement de votre demande.</h2>
    </hgroup>
    @Html.ActionLink("Retour à la page d'accueil", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</body>
</html>
