@model IEnumerable<Agenda.Models.appointements>
@{
    ViewBag.Title = "Home Page";
}
<div id="blockPage">
    <div id="homepage">
        <img src="https://i.imgur.com/tVBUlIw.gif" alt="café" title="Passez une bonne journée ;)" />
        <section>
            <header>
                <h2>Agenda</h2>
            </header>
            <article id="welcome">
                <h3>- Bienvenue sur votre agenda -</h3>
                <em class="text-info">Gérez simplement vos rendez-vous.</em>
                <div id="dateTimeBlock">
                    <p>Nous sommes le : <span id="todayDate" class="text-warning">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</span></p>
                    <p>Il est <span id="todayHour" class="text-warning"> @*@(DateTime.Now.TimeOfDay.Hours) Heures et @(DateTime.Now.TimeOfDay.Minutes) minutes*@ </span></p>
                </div>
            </article>
            <a href="#rdvToShow"><input id="rdvShow" type="button" class="btn btn-primary" value="Liste des RDV" /></a>
        </section>
    </div>
    @Html.Partial("~/Views/Home/_listAppointements.cshtml", Model)
</div>
