
@{
    ViewBag.Title = "SuccessAddBroker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="refresh" content="2;URL=@Url.Action("ListBrokers", "Brokers")">

<h2 class="text-center text-success">Courtier : Opération réalisée avec succès !</h2>

@Html.ActionLink("Retour à la liste", "ListBrokers", "Brokers", new { area = "" }, new { @class = "btn btn-default" })

