
@{
    ViewBag.Title = "SuccessAddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="refresh" content="2;URL=ListCustomers">

<h2 class="text-center text-success">Client : Opération réalisée avec succès !</h2>

@Html.ActionLink("Retour à la liste", "ListCustomers", "Customers", new { area = "" }, new { @class = "btn btn-default" })
