
@{
    ViewBag.Title = "SuccessDeleteCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-success"> Client Supprimé !</h2>

@Html.ActionLink("Retour à la liste", "ListCustomers", "Customers", new { area = "" }, new { @class = "btn btn-default" })